{% load static %} 
{% load customTags %} 
{% now "Y" as current_year %} 
{% url 'menu-principal' as menu %} 
{% url 'cadastro' as cadastro %} 
{% url 'usuarios' as usuarios %} 
{% url 'treinos' as treinos %} 
{% url 'exercicios' as exerciciosUrl %} 
{% now "d/m/Y" as current_date %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GymTech: {% block title %}{% endblock %}</title>
    <meta name="description" content />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="robots" content="all,follow" />
    <!-- Google fonts - Poppins -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"
    />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- Custom stylesheet - for your changes-->
    <link
      rel="stylesheet"
      href="{% static 'css/style.blue.css' %}"
      id="theme-stylesheet"
    />
    
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <script
      src="https://kit.fontawesome.com/d6220a3e4a.js"
      crossorigin="anonymous"
    ></script>

    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>

  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header z-index-50">
        <nav
          class="nav navbar py-3 px-0 shadow-sm text-white position-relative"
        >
          <!-- Search Box-->
          <div class="search-box shadow-sm">
            <button class="dismiss d-flex align-items-center">
              <svg class="svg-icon svg-icon-heavy">
                <use xlink:href="#close-1"></use>
              </svg>
            </button>
          </div>
          <div class="container-fluid w-100">
            <div
              class="navbar-holder d-flex align-items-center justify-content-between w-100"
            >
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a
                  class="navbar-brand d-none d-sm-inline-block"
                  href="/"
                >
                  <div class="brand-text d-none d-lg-inline-block">
                    <span>Gym</span><strong>Tech</strong>
                  </div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none">
                    <strong>GT</strong>
                  </div>
                </a>
                <!-- Toggle Button--><a
                  class="ms-2 menu-btn active"
                  id="toggle-btn"
                  href="#"
                  ><span></span><span></span><span></span
                ></a>
              </div>
              <!-- Navbar Menu -->
              <ul
                class="nav-menu list-unstyled d-flex flex-md-row align-items-sm-center"
              >
                <!-- Search-->
                <li class="nav-item my-0 py-0">
                  <a id="search"></a>
                  <p class="d-inline me-xl-2 mt-5">{{current_date}}</p>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'logout' %}">
                    <span class="d-none d-sm-inline me-xl-2">Log Out</span>
                    <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40">
          <!-- Sidebar Header-->
          <a href="{% url 'admin' %}" class>
            <div class="sidebar-header d-flex align-items-center py-4 px-3">
              <div class="ms-3 title">
                <small class="text-gray-500">ADMINISTRADOR:</small>
                <h5 class="mb-2 me-0 text-gray-700">
                  {{user.first_name}} {{user.last_name}}
                </h5>
                <p class="text-sm text-gray-500 fw-light mb-0 lh-1">
                  @{{user.username}}
                </p>
              </div>
            </div>
          </a>
          <ul class="list-unstyled py-4">
            <li
              class="sidebar-item {% if request.path == menu %} active {% endif %}"
            >
              <a class="sidebar-link" href="{{menu}}">
                <i class="fa-solid fa-house fa-lg me-xl-2"></i>
                Menu Principal
              </a>
            </li>

            <li
              class="sidebar-item {% if request.path|starts_with:usuarios %}active{% endif %}"
            >
              <a class="sidebar-link" href="{{usuarios}}">
                <i class="fa-solid fa-user fa-lg me-xl-2"></i>
                Usuários
              </a>
            </li>

            <li
              class="sidebar-item {% if request.path|starts_with:treinos %}active{% endif %}"
            >
              <a class="sidebar-link" href="{{treinos}}">
                <i class="fa-solid fa-dumbbell fa-lg me-xl-2"></i>
                Treinos
              </a>
            </li>

            <li
              class="sidebar-item {% if request.path|starts_with:cadastro %}active{% endif %}"
            >
              <a
                class="sidebar-link"
                href="#exampledropdownDropdown"
                data-bs-toggle="collapse"
              >
                <i class="fa-solid fa-user-plus fa-lg me-xl-2"></i>
                Cadastros
              </a>
              <ul class="collapse list-unstyled" id="exampledropdownDropdown">
                <li>
                  <a class="sidebar-link py-3" href="{{cadastro}}"
                    >Novo cliente</a
                  >
                </li>
                <li>
                  <a class="sidebar-link py-3" href="{% url 'cadastro-admin' %}"
                    >Novo administrador</a
                  >
                </li>
              </ul>
            </li>

            <li
              class="sidebar-item {% if request.path|starts_with:exerciciosUrl %}active{% endif %}"
            >
              <a class="sidebar-link" href="{{exerciciosUrl}}">
                <i class="fa-solid fa-weight-hanging fa-lg me-xl-2"></i>
                Exercícios
              </a>
            </li>
          </ul>
        </nav>
        <div class="content-inner w-100">
          <header class="bg-white shadow-sm px-4 py-3 z-index-20">
            <div class="container-fluid px-0">
              <h2 class="mb-0 p-1">{% block subtitle %}{% endblock %}</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="bg-white">
            <div class="container-fluid">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                  {% block breadcrumbs %} {% endblock %}
                </ol>
              </nav>
            </div>
          </div>

          {% include 'messages.html' %} {% block content %} {% endblock %}

          <!-- Page Footer-->
          <footer
            class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs"
            id="footer"
          >
            <div class="container-fluid">
              <div class="row gy-2">
                <div class="col-sm-6 text-sm-start">
                  <p class="mb-0">GymTech © 2023-{{current_year}}</p>
                </div>
                <div class="col-sm-6 text-sm-end">
                  <p class="mb-0">
                    Design by
                    <a
                      href="https://github.com/j0aoarthur"
                      class="text-white text-decoration-none"
                      >João Arthur Britto
                      <i class="ms-1 fa-brands fa-github fa-lg"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Main File-->
    <script src="{% static 'js/front.js' %}"></script>
    <!-- Custom js file -->
    <script src="{% static 'js/cadastro/script.js' %}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function (e) {
          var div = document.createElement("div");
          div.className = "d-none";
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
        };
      }
      // this is set to BootstrapTemple website as you cannot
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite(
        "https://bootstraptemple.com/files/icons/orion-svg-sprite.svg"
      );
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </body>
</html>
