{% extends 'head_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}


{% block main_layout %}
  <div class="login-page">
    <div class="container d-flex align-items-center position-relative py-5 col-lg-10 col-9">
      <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
        <div class="card-body p-0">
          <div class="row gx-0 align-items-stretch">
            <div class="col-lg">
              <div class="info d-flex justify-content-center flex-column p-4 h-100">
                <div class="py-5">
                  <h1 class="display-6 fw-bold "><a class="text-white" href="">GymTech</a></h1>
                  <p class="fw-light mb-0">Menu de login</p>
                </div>
              </div>
            </div>
            <div class="col-lg bg-white">
              {% include "messages.html" %}
              <div class="d-flex align-items-center my-3 mt-lg-5 px-4 px-lg-5 h-50">
                <form class="login-form w-100" method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="input-material-group mb-3">
                    <input class="input-material" id="{{form.username.auto_id}}" type="text"
                      name="{{form.username.name}}" autocomplete="off" required data-validate-field="loginUsername">
                    <label class="label-material" for="{{form.username.auto_id}}">Nome de usuário</label>
                  </div>
                  <div class="input-material-group mb-4">
                    <input class="input-material" id="{{form.password.auto_id}}" type="password"
                      name="{{form.password.name}}" required data-validate-field="loginPassword">
                    <label class="label-material" for="{{form.password.auto_id}}">Senha</label>
                  </div>
                  <button class="btn btn-primary mb-3" id="login" type="submit">Login</button>
                </form>
              </div>
              <div class="alert alert-dark w-75 mx-auto rounded-4 p-3" role="alert">
                <div>
                  <h3>Usuário teste</h3>
                </div>
                <div>Nome de usuário: <strong>teste</strong></div>
                <div>Senha: <strong>123456789</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
