{% extends 'layout.html' %}

{% block title %}Teste{% endblock %}

{% block content %}



{% endblock %}


<!-- 
    iterate over all options in the exercise field
{% for x,y in form.fields.exercise.choices %}
        {{y}} 
    {% endfor %}

<input list="{{exercise_formset.forms.0.exercise.auto_id}}" class="form-control" autocomplete="off">
<datalist id="{{exercise_formset.forms.0.exercise.auto_id}}" >
{% for x,y in exercise_formset.forms.0.fields.exercise.choices %}
    <option value="{{y}}">{{x}}</option>
{% endfor %}
</datalist>
-->